//colors
$category-online-exam: #5600e8;
$category-faq: #bf360c;
$category-test: #01579b;
$category-content: #2e7d32;
$category-textbook: #bd081c;
$category-school: #a5673f;
$category-tutor: #8e24aa;


$footer-bar: rgba(206, 209, 209, 0.2);
$border: rgba(0, 0, 0, 0.12);
$border1: rgba(0, 0, 0, 0.1);
$search: #008b8b;
$black: #000000;
$hashtag: rgba(33, 33, 33, 0.08);
$white: #ffffff;
$gray0:rgba(0, 0, 0, 0.38);
$gray1: #e3e3e3;
$gray2: #f9f9f9;
$gray25: rgba(0, 0, 0, 0.25);
$gray3: #e1e4e4;
$gray4: rgba(0, 0, 0, 0.6);
$gray45: rgba(0, 0, 0, 0.87);
$gray5: #e0e0e0;
$gray6: #e8e8e8;
$gray7: #e0e1e2;
$gray8: #616161;
$gray9: rgba(0, 0, 0, 0.54);
$gray10: #ededed;
$gray11: #424242;
$gray12: #f5f5f5;
$gray13: #616161;
$gray14: #ececec;
$green: #008b8b;
$green2: #004a4a;
$green3: #57b947;
$green4: #27ae60;
$green5: #21ba45;
$green6: #009688;
$green7: #0bc1b6;
$green8: #33691e;
$green9: #036507;
$green10: #2e7d32;
$green105: #2e7d32;
$green11: rgba(0, 139, 139, 0.8);
$green12: #008b8b;
$green13: #649f67;
$green14:#007878;
$green15:#25D366;
$pink: #e91e63;
$red1: #c0392b;
$red2: #c83131;
$red3: #db2828;
$red4: #b30808;
$red5: #bf360c;
$blue1: #2196f3;
$blue2: #3f51b5;
$blue3: #2185d0;
$blue4: #01579b;
$blue5: #4183c4;
$blue6: #1e70bf;
$blue7: #85b7d9;
$blue8: #512da8;
$blue9: #0579d6;
$blue10: #03a9f4;
$blue11: #01579b;
$blue12: rgba(41, 98, 255, 0.05);
$blue13: #2962ff;
$purple: #a333c8;
$violet1: #8d33aa;
$violet2: #5600e8;
$violet3: #6435c9;
$orange1: #ff9800;
$orange2: #f2711c;
$orange3: #ff8a00;
$orange4: #ff5722;
$orange5: #bf360c;
$orange6: #ff8a00;
$orange7: #fb8c00;
$orange8:#F16D50;
$orange9:#F1C40F;
$yellow1: #f9a825;
$yellow2: #ffe623;
$yellow3:#FFD12F;
$brown1: #a5673f;
$brown2: #8d4b25;
$grade__item1: rgba(39, 174, 96, 0.05);
$grade__item2: rgba(192, 57, 43, 0.05);
$grade__item3: rgba(1, 87, 155, 0.05);
$grade__item4: rgba(86, 0, 232, 0.02);
$grade__item5: rgba(51, 105, 30, 0.02);
$grade__item6: rgba(191, 54, 12, 0.02);
$grade__item7: rgba(46, 125, 50, 0.02);
$grade__item8: rgba(249, 168, 37, 0.02);
$grade__item9: rgba(86, 0, 232, 0.02);
$grade__item10: rgba(39, 174, 96, 0.02);
$grade__item11: rgba(81, 45, 168, 0.02);
$grade__item12: rgba(3, 169, 244, 0.02);

//font-size
$fontsize0: 1.2rem;
$fontsize1: 1.3rem;
$fontsize2: 1.4rem;
$fontsize25: 1.6rem;
$fontsize3: 1.8rem;
$fontsize4: 2rem;
